<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    

        <h1>Before and After Covid </h1>
        <h3>A look in both directions</h3>
        <hr>
        <br>
    <div>
        {% block body %}
        
        {% endblock %}

    </div>
</body>
</html>